@theme {
  --switch-border: var(--ui-border-neutral);
  --switch-border-checked: var(--ui-border-brand);
  --switch-border-invalid: var(--ui-border-danger);
  --switch-bg-soft: var(--ui-bg-neutral-soft-hover);
  --switch-bg-outlined: var(--ui-bg-background);
  --switch-bg-checked: var(--ui-bg-brand);
  --switch-bg-thumb-outlined: var(--ui-bg-neutral-soft-hover);
  --switch-bg-thumb-checked: var(--ui-bg-brand);
  --switch-bg-thumb-soft: var(--color-white);
  --switch-ring-brand: var(--ui-ring-brand);
  --switch-h: 1.5rem;
  --switch-p: 0.125rem;
  --switch-rounded: 9999px;
}

@utility switch-border {
  @apply border-(--switch-border);
}

@utility switch-border-checked {
  @apply border-(--switch-border-checked);
}

@utility switch-border-invalid {
  @apply border-(--switch-border-invalid);
}

@utility switch-bg-soft {
  @apply bg-(--switch-bg-soft);
}

@utility switch-bg-outlined {
  @apply bg-(--switch-bg-outlined);
}

@utility switch-bg-checked {
  @apply bg-(--switch-bg-checked);
}

@utility switch-bg-thumb-outlined {
  @apply bg-(--switch-bg-thumb-outlined);
}

@utility switch-bg-thumb-checked {
  @apply bg-(--switch-bg-thumb-checked);
}

@utility switch-bg-thumb-soft {
  @apply bg-(--switch-bg-thumb-soft);
}

@utility switch-ring-brand {
  @apply ring-(--switch-ring-brand);
}

@utility switch-h {
  @apply h-(--switch-h);
}

@utility switch-p {
  @apply p-(--switch-p);
}

@utility switch-rounded {
  @apply rounded-(--switch-rounded);
}

@utility switch-transition {
  @apply transition-[background-color,border-color];
}

@utility switch-transition-thumb {
  @apply transition-[background-color,translate];
}

@layer components {
  .d-switch {
    @apply flex switch-h switch-p switch-rounded border switch-border outline-none cursor-pointer switch-transition;
  }

  .d-switch__track {
    @apply flex aspect-2/1 rounded-[inherit];
  }

  .d-switch__thumb {
    @apply aspect-square rounded-[inherit] switch-transition-thumb shadow-xs;
  }

  .d-switch--checked .d-switch__thumb {
    @apply translate-x-full;
  }

  .d-switch:focus-visible {
    @apply ring-2 switch-ring-brand;
  }

  .d-switch--outlined {
    @apply switch-bg-outlined;
  }

  .d-switch--outlined .d-switch__thumb {
    @apply switch-bg-thumb-outlined;
  }

  .d-switch--outlined.d-switch--checked {
    @apply switch-border-checked;
  }

  .d-switch--outlined.d-switch--checked .d-switch__thumb {
    @apply switch-bg-thumb-checked;
  }

  .d-switch--soft {
    @apply switch-bg-soft border-transparent;
  }

  .d-switch--soft .d-switch__thumb {
    @apply switch-bg-thumb-soft;
  }

  .d-switch--soft.d-switch--checked {
    @apply switch-bg-checked;
  }

  .d-switch.d-switch--invalid {
    @apply switch-border-invalid;
  }

  .d-switch--disabled {
    @apply disabled;
  }
}
