@theme {
  --scroll-area-scrollbar-y-width: 10px;
  --scroll-area-scrollbar-x-height: 10px;
  --scroll-area-thumb-y-width: 4px;
  --scroll-area-thumb-x-height: 4px;
  --scroll-area-thumb-y-size: 20px;
  --scroll-area-thumb-x-size: 20px;
  --scroll-area-thumb-y-offset: 0px;
  --scroll-area-thumb-x-offset: 0px;
  --scroll-area-thumb-radius: 999px;
}

@theme {
  --scroll-area-bg-thumb: var(--ui-neutral-100);
  --scroll-area-bg-thumb-hover: var(--ui-neutral-200);
}

.dark {
  --scroll-area-bg-thumb: var(--ui-neutral-800);
  --scroll-area-bg-thumb-hover: var(--ui-neutral-700);
}

@utility scroll-area-bg-thumb {
  @apply bg-(--scroll-area-bg-thumb);
}

@utility scroll-area-bg-thumb-hover {
  @apply bg-(--scroll-area-bg-thumb-hover);
}

@utility scroll-area-transition {
  @apply transition-[opacity,background-color];
}

@layer components {
.d-scroll-area {
  @apply relative flex h-full w-full;
}

.d-scroll-area__viewport {
  @apply size-full outline-none min-w-0 overflow-auto scrollbar-none;
}

.d-scroll-area__viewport::-webkit-scrollbar {
  @apply hidden;
}

.d-scroll-area__scrollbar {
  @apply absolute z-10 opacity-0 scroll-area-transition;
}

.d-scroll-area:hover .d-scroll-area__scrollbar, .d-scroll-area:focus-within .d-scroll-area__scrollbar {
  @apply opacity-100;
}

.d-scroll-area__scrollbar--y {
  @apply top-0 right-0 h-full w-(--scroll-area-scrollbar-y-width);
}

.d-scroll-area__scrollbar--x {
  @apply bottom-0 left-0 w-full h-(--scroll-area-scrollbar-x-height);
}

.d-scroll-area__thumb {
  @apply cursor-grab touch-none select-none scroll-area-bg-thumb rounded-(--scroll-area-thumb-radius);
}

.d-scroll-area__thumb:active {
  @apply cursor-grabbing;
}

.d-scroll-area__scrollbar:hover .d-scroll-area__thumb {
  @apply scroll-area-bg-thumb-hover;
}

.d-scroll-area__thumb--y {
  @apply absolute top-0 left-1/2 -translate-x-1/2 translate-y-(--scroll-area-thumb-y-offset) h-(--scroll-area-thumb-y-size) w-(--scroll-area-thumb-y-width);
}

.d-scroll-area__thumb--x {
  @apply absolute left-0 top-1/2 -translate-y-1/2 translate-x-(--scroll-area-thumb-x-offset) w-(--scroll-area-thumb-x-size) h-(--scroll-area-thumb-x-height);
}
}
