@theme {
  --select-listbox-gap: 0.125rem;
  --select-listbox-rounded-item-sm: calc(var(--ui-radius-sm) - 2px);
  --select-listbox-rounded-item-md: calc(var(--ui-radius-md) - 2px);
  --select-listbox-rounded-item-lg: calc(var(--ui-radius-lg) - 2px);
}

@theme {
  --select-listbox-text-default: var(--ui-text-foreground);
  --select-listbox-bg-item-hover: var(--ui-neutral-100);
}

.dark {
  --select-listbox-bg-item-hover: var(--ui-neutral-800);
}

@utility select-listbox-text-default {
  @apply text-(--select-listbox-text-default);
}

@utility select-listbox-bg-item-hover {
  @apply bg-(--select-listbox-bg-item-hover);
}

@utility select-listbox-gap {
  @apply gap-(--select-listbox-gap);
}

@utility select-listbox-rounded-item-sm {
  @apply rounded-(--select-listbox-rounded-item-sm);
}

@utility select-listbox-rounded-item-md {
  @apply rounded-(--select-listbox-rounded-item-md);
}

@utility select-listbox-rounded-item-lg {
  @apply rounded-(--select-listbox-rounded-item-lg);
}

@utility select-listbox-px-item-sm {
  @apply px-(--ui-space-sm);
}

@utility select-listbox-px-item-md {
  @apply px-(--ui-space-md);
}

@utility select-listbox-px-item-lg {
  @apply px-(--ui-space-lg);
}

@utility select-listbox-gap-item-sm {
  @apply gap-(--ui-gap-sm);
}

@utility select-listbox-gap-item-md {
  @apply gap-(--ui-gap-md);
}

@utility select-listbox-gap-item-lg {
  @apply gap-(--ui-gap-lg);
}

@utility select-listbox-h-item-sm {
  @apply h-(--ui-size-sm);
}

@utility select-listbox-h-item-md {
  @apply h-(--ui-size-md);
}

@utility select-listbox-h-item-lg {
  @apply h-(--ui-size-lg);
}

@utility select-listbox-size-item-sm {
  @apply text-(length:--ui-label-sm) select-listbox-px-item-sm select-listbox-gap-item-sm select-listbox-h-item-sm select-listbox-rounded-item-sm;
}

@utility select-listbox-size-item-md {
  @apply text-(length:--ui-label-sm) select-listbox-px-item-md select-listbox-gap-item-md select-listbox-h-item-md select-listbox-rounded-item-md;
}

@utility select-listbox-size-item-lg {
  @apply text-(length:--ui-label-md) select-listbox-px-item-lg select-listbox-gap-item-lg select-listbox-h-item-lg select-listbox-rounded-item-lg;
}

@layer components {
.d-select-listbox {
  @apply flex flex-col select-listbox-gap transition-opacity overflow-y-auto max-h-[200px] select-listbox-text-default;
}

.d-select-listbox--disabled {
  @apply disabled;
}

.d-select-listbox__item {
  @apply flex shrink-0 items-center outline-none select-none cursor-pointer transition-[background-color,color,opacity];
}

.d-select-listbox__item:is(:hover,.d-select-listbox__item--selected,.d-select-listbox__item--focused) {
  @apply select-listbox-bg-item-hover;
}

.d-select-listbox--sm .d-select-listbox__item {
  @apply select-listbox-size-item-sm;
}

.d-select-listbox--md .d-select-listbox__item {
  @apply select-listbox-size-item-md;
}

.d-select-listbox--lg .d-select-listbox__item {
  @apply select-listbox-size-item-lg;
}
}
